.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.watch-btn{
  background-color: blue;
  color: white;
  width:150px;
  height:30px;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid white;
}
.timer{
  font-size:50px;
}
.timer-head{
  color: rgb(51, 106, 88);
  font-size: 38px;
}
.input-box{
  background-color:black;
  color: white;
  height:30px;
  width: 200px;
  margin: 10px;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 16px;
}